{% include 'base.html' %}


 {% block content %}


    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Bhajanas</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="{% url 'index' %}">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Bhajanas Details</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->



        <!--blog-area start-->
          <section class="blog-details-area pt-130 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        {% for i in data %}
                        <div class="blogs-details-left-area mb-50">
                            <div class="blog blogs-02 mb-40 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <div class="blog__thumb mb-35">
                                    <img src="/media/{{i.image}}" alt="">
                                </div>
                                <div class="blog__content">

                                    <h3 class="blog-title mb-20"><a href="blog-details.html">{{i.title}}</a></h3>
                                    <audio controls>
  <source src="horse.ogg" type="audio/ogg">
  <source src="/media/{{i.file |safe}}" type="audio/mpeg">

</audio>


                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>




                    {% include 'sirlasidebar.html' %}
                </div>
            </div>
        </section>
        <!--blog-area end-->
    </main>




    {% include 'includebase.html' %}

{% endblock content %}