{% include 'base.html' %}


 {% block content %}
    <main style="background-color: #ffcb88">

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Contact Us</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="index.html">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->


        <!--join-team-area start-->
        <section class="contacts-details-area pt-130 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="get-touch-area pl-50 pr-50">
                            <div class="section-title text-left mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h6><span><i class="far fa-heart"></i></span> Get In Touch</h6>
                                <h2>Call Or Email Us</h2>
                                <p>There are many variations of passages of orem psum available but the majority have suffered alteration in some.</p>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="fal fa-phone-plus"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Phone Number</h4>
                                    <h5>+02 123 456 7894</h5>
                                </div>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="fal fa-envelope-open-text"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Email Address</h4>
                                    <h5>info@example.com</h5>
                                </div>
                            </div>
                            <div class="contacts d-flex align-items-center mb-30">
                                <div class="contacts__icon mr-25">
                                    <i class="fal fa-map-marked-alt"></i>
                                </div>
                                <div class="contacts__text">
                                    <h4 class="semi-02-title">Our Location</h4>
                                    <h5>59 Dark Road, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-6" >
                        <div class="donar-information donation-form mb-30 pr-50 pl-50" style="background-color: white">
                            <div class="section-title text-left mb-50 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h6><span><i class="far fa-heart"></i></span> Send Message</h6>
                                <h2>Feel Free To Send Message.</h2>
                            </div>
                            <div class="main-contact-area">
                                <form method="post" action="/eventex//static/assets/php/contact.php" id="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-area mb-10">
                                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-area mb-10">
                                                <input type="text" class="form-control" name="email" placeholder="Email Address" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-area mb-10">
                                        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                    </div>
                                    <div class="input-area mb-10">
                                        <textarea name="message"  cols="30" rows="10" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="input-btn">
                                        <button class="theme_btn theme_btn_bg large_btn">Send message</button>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="form-messege text-success"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--join-team-area end-->

        <!--map-area end-->
       <div class="map-area-03">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194156103!2d-74.03927096447748!3d40.759040329405195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a01c8df6fb3cb8!2sSolomon%20R.%20Guggenheim%20Museum!5e0!3m2!1sen!2sbd!4v1619410634508!5m2!1sen!2sbd"></iframe>   
       </div>
        <!--map-area start-->
        

    </main>


    {% include 'includebase.html' %}

{% endblock content %}