{% include 'base.html' %}


 {% block content %}
    <!-- slide-bar end -->



    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Donation Form</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="index.html">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Donation Form</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->

        <!--donation-form-area start-->
        <section class="donation-form-area-02 grey-bg2 pt-125 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="donation-form-left">


                            <div class="donar-information donation-form white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                {% for i in data %}
                                <div class="section-title text-left mb-50">
                                    <h6><span><i class="far fa-heart"></i></span>{{ i.name_of_donation }}</h6>
                                    <h2>Enter Details</h2>
                                </div>
                                <ul class="nav nav-tabs mb-15" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-selected="true">Minimum Donation Amount</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                                            aria-controls="profile" aria-selected="false">Enter Donation</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="row payment-inner">
                                            <div class="col-xl-12">

                                            </div>
                                            <form action="{% url 'add_donation' %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">

                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="hidden" name="seva_name" value="{{ i.name_of_donation }}">
                                                            <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="email" name="email" class="form-control" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="number" name="phone" min="0" class="form-control" placeholder="Phone Number" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="hidden" name="amount" value="{{ i.price }}">

                                                            <input type="text" class="form-control" value=" ₹ {{ i.price }} " disabled>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-12">
                                                        <button type="submit" class="theme_btn theme_btn_bg">Donate now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="payment-inner">

                                             <form action="{% url 'add_donation' %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="hidden" name="seva_name" value="{{ i.name_of_donation }}">
                                                            <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="number" name="phone" min="0" class="form-control" placeholder="Your Phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="email" name="email" class="form-control" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="number" name="amount" min="{{ i.price }}" class="form-control" placeholder="Enter Donation Amount" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <button type="submit" class="theme_btn theme_btn_bg">Donate now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="details-right-area">
                            <div class="widget mb-30">
                                <div class="widget-post">
                                    <h3 class="cases-title mb-30">Other Seva's</h3>
                                    {% for j in data2 %}

                                    <div class="post d-flex align-items-center mb-20">

                                        <div class="post__content">
                                            <h5><a href="/donate">{{ j.name_of_donation }}</a></h5>
                                            <a class="view_btn" href="/donate">view Details</a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--donation-form-area end-->

    </main>



    {% include 'includebase.html' %}

{% endblock content %}