{% include 'base.html' %}


 {% block content %}
    <!-- slide-bar end -->



    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Donate</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Donation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->

        <!--donation-form-area start-->

        <!--donation-form-area end-->

    <section class="blog-area pt-130 pb-100">
            <div class="container">
  {% for i in cat %}

      <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                             data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span> {{ i.title }}</h6>


                        </div>
                    </div>
                </div>
                <div class="row">

                        {% for j in data %}
                            {% if i.id == j.category_id %}
                   <div class="col-xl-3 col-lg-3 col-md-3 wow fadeInUp2 animated" data-wow-delay='.2s'>
                        <div class="blog mb-30">
                            <div class="blog__thumb">
                                <img src="/media/{{ j.image }}" alt="">
                            </div>
                            <div class="blog__content">
                                <h3 class="blog-title mb-15">{{ j.name_of_donation }}</h3>

                                 <div class="cases-progress mb-25">
                                    <p class="funding">Min Amount <span>₹ {{ j.price }}</span></p>
                                    <div class="progress">
                                        <div class="progress-bar wow fadeInLeft animated" data-wow-delay="0.3s" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <center><a class="theme_btn theme_btn_bg" href="{% url 'donatenow' j.id %}"> Donate <span><i
                                    class="fas fa-arrow-right"></i></span></a></center>


                        </div>
                    </div>
                             {% endif %}
                            {% endfor %}



                </div>
      <hr>
            {%endfor%}
            </div>




        </section>

    </main>



    {% include 'includebase.html' %}

{% endblock content %}