{% include 'base.html' %}


 {% block content %}


    <main style="background-color: #ffcb88">

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Festivals List</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/index">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Festivals List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->


        <!--events-area start-->
        <section class="events-area events-style-1 pb-100 pt-100" >
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                            data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span> Event</h6>
                            <h2>Our <span>Upcoming</span> Event</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="events-wrapper mb-30">
                            <div class="events active pos-rel wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="events__back" style="background-image: url(/static/assets/img/events/1.jpg);">
                                </div>
                                <ul class="events__list__one align-items-center justify-content-between pl-50 pr-50">
                                    <li>
                                        <div class="events__content">
                                            <span><i class="far fa-calendar-alt"></i> 10 August 2021</span>
                                            <h3 class="mb-15"><a href="events-details.html">Fund Raising Event For Food</a>
                                            </h3>
                                            <p>There are many variations of passages available the majority have suffered alteration some injected humour.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="events__btn text-md-center text-xl-right">
                                            <a class="theme_btn theme_btn_bg" href="events-details.html">join event
                                                <span><i class="fas fa-arrow-right"></i></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="events-wrapper mb-30">
                            <div class="events pos-rel wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="events__back" style="background-image: url(/static/assets/img/events/2.jpg);">
                                </div>
                                <ul class="events__list__one align-items-center justify-content-between pl-50 pr-50">
                                    <li>
                                        <div class="events__content">
                                            <span><i class="far fa-calendar-alt"></i> 10 August 2021</span>
                                            <h3 class="mb-15"><a href="events-details.html">Fund Raising Event For Food</a>
                                            </h3>
                                            <p>There are many variations of passages available the majority have suffered alteration some injected humour.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="events__btn text-md-center text-xl-right">
                                            <a class="theme_btn theme_btn_bg" href="events-details.html">join event
                                                <span><i class="fas fa-arrow-right"></i></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="events-wrapper mb-30">
                            <div class="events pos-rel wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="events__back" style="background-image: url(/static/assets/img/events/3.jpg);">
                                </div>
                                <ul class="events__list__one align-items-center justify-content-between pl-50 pr-50">
                                    <li>
                                        <div class="events__content">
                                            <span><i class="far fa-calendar-alt"></i> 10 August 2021</span>
                                            <h3 class="mb-15"><a href="events-details.html">Fund Raising Event For Food</a>
                                            </h3>
                                            <p>There are many variations of passages available the majority have suffered alteration some injected humour.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="events__btn text-md-center text-xl-right">
                                            <a class="theme_btn theme_btn_bg" href="events-details.html">join event
                                                <span><i class="fas fa-arrow-right"></i></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="events-wrapper mb-30">
                            <div class="events active pos-rel wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <div class="events__back" style="background-image: url(/static/assets/img/events/4.jpg);">
                                </div>
                                <ul class="events__list__one align-items-center justify-content-between pl-50 pr-50">
                                    <li>
                                        <div class="events__content">
                                            <span><i class="far fa-calendar-alt"></i> 10 August 2021</span>
                                            <h3 class="mb-15"><a href="events-details.html">Fund Raising Event For Food</a>
                                            </h3>
                                            <p>There are many variations of passages available the majority have suffered alteration some injected humour.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="events__btn text-md-center text-xl-right">
                                            <a class="theme_btn theme_btn_bg" href="events-details.html">join event
                                                <span><i class="fas fa-arrow-right"></i></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--events-area end-->

    </main>



    {% include 'includebase.html' %}

{% endblock content %}