 {% include 'footer.html' %}

         <script src="/static/assets/js/modernizr-3.5.0.min.js"></script>
    <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/isotope.pkgd.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/static/assets/js/metisMenu.min.js"></script>
    <script src="/static/assets/js/jquery.nice-select.js"></script>
    <script src="/static/assets/js/wow.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/assets/js/jquery.easypiechart.js"></script>
    <script src="/static/assets/js/tilt.jquery.js"></script>
    <script src="/static/assets/js/parallax.min.js"></script>
    <script src="/static/assets/js/main.js"></script>