{% include 'base.html' %}



{% block content %}

    <main>

        <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }


        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(1.5, 1.5);
            }
            to {
                -webkit-transform: scale(1, 1);
            }
        }


        @keyframes zoom {
            from {
                transform: scale(1.5, 1.5);
            }
            to {
                transform: scale(1, 1);
            }
        }

        .carousel-inner .carousel-item > img {
            -webkit-animation: zoom 20s;
            animation: zoom 20s;
        }
    </style>

{#        slider starts here #}

        <div id="hkmcarousel"  class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for i in slider %}
                   {% if forloop.first %}
                <div class="carousel-item active">
                    <img src="/media/{{i.slide_image}}" >
                </div>
                       {% else %}
                       <div class="carousel-item">
                     <img src="/media/{{i.slide_image}}" >
                </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Left and right controls -->
{#            <a class="carousel-control-prev" href="#demo" data-slide="prev">#}
{#                <span class="carousel-control-prev-icon"></span>#}
{#            </a>#}
{#            <a class="carousel-control-next" href="#demo" data-slide="next">#}
{#                <span class="carousel-control-next-icon"></span>#}
{#            </a>#}
        </div>



        <!--slider-area end-->

        <div class="about-area grey-bg2 pos-rel pb-100">
            <div class="right-shape">
                <img  src="/static/assets/img/shape/01.png" alt="">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-img mb-60 pos-rel">
                            <div class="about-img__thumb pr-45 wow fadeInUp2 animated" data-wow-delay='.1s'>

                                <img style="margin-top: 38px" src="/static/assets/img/about/1.jpg" alt="">
                            </div>
                            <!-- <div class="experience-box wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <h1>20</h1>
                                <h4 class="semi-02-title">Years
                                    Experience</h4>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-wrapper mb-30">
                            <div class="section-title text-left mb-20 wow fadeInUp2 animated" data-wow-delay='.1s'>

                                <h2>{{ about.0.title }}</h2>
                            </div>
                            <p>
                                {{  about.0.content|slice:":983" |safe }}
                            </p>

                            <a class="theme_btn theme_btn_bg" href="/about">Read more <span><i
                                    class="fas fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--services-area start-->
<!--       -->
        <!--services-area end-->


        <!--about-us-area start-->

        <!--about-us-area end-->


        <!--cta-area start-->

        <!--cta-area end-->


        <!--cases-area start-->

        <!--cases-area end-->

   <section class="blog-area pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                             data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span> Festivals</h6>
                            <h2>Our <span>Upcoming</span> Festivals</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for fe in fest %}
                   <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.2s'>
                        <div class="blog mb-30">
                            <div class="blog__thumb">
                                <img src="/media/{{ fe.event_image }}" alt="">
                            </div>
                            <div class="blog__content">
<!--                                <a class="tag" href="blog-details.html">funding</a>-->
                                <h3 class="blog-title mb-15"><a href="{%url 'event' fe.id %}">{{ fe.title }}</a></h3>
                                <p class="mb-25">{{ fe.content|slice:":400" |safe  }}</p>
                               
                                
                                <ul class="blog-author">

                                </ul>
                                
                            </div>
                             <center><a class="theme_btn theme_btn_bg" href="{%url 'event' fe.id %}">Read more <span><i
                                    class="fas fa-arrow-right"></i></span></a></center>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </section>

        <section class="blog-area grey-bg2 pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                             data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span> Activities</h6>
                            <h2>Our <span>Upcoming</span> Activities</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for fe in activity %}
                   <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.2s'>
                        <div class="blog mb-30">
                            <div class="blog__thumb">
                                <img src="/media/{{ fe.active_main_image }}" alt="">
                            </div>
                            <div class="blog__content">
<!--                                <a class="tag" href="blog-details.html">funding</a>-->
                                <h3 class="blog-title mb-15"><a href="{%url 'activitydetail' fe.id %}">{{ fe.title }}</a></h3>
                                <p class="mb-25">{{ fe.content|slice:":400" |safe  }} </p>
                                
                                 
                                <ul class="blog-author">

                                </ul>
                            </div>
                            <center><a class="theme_btn theme_btn_bg" href="{%url 'activitydetail' fe.id %}">Read more <span><i
                                    class="fas fa-arrow-right"></i></span></a></center>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </section>
        <!--counter-area start-->
        <div class="counter-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                        <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <div class="counetrs__icon mb-20"><i class="flaticon-social-care"></i></div>
                            <h1><span class="counter">5641</span></h1>
                            <p>Our Volunteer</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                        <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <div class="counetrs__icon mb-20"><i class="flaticon-group"></i></div>
                            <h1><span class="counter">7842</span></h1>
                            <p>Global Partner</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                        <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.5s'>
                            <div class="counetrs__icon mb-20"><i class="flaticon-charity"></i></div>
                            <h1><span class="counter">9452</span></h1>
                            <p>Help Children</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                        <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.7s'>
                            <div class="counetrs__icon mb-20"><i class="flaticon-blood-donation"></i></div>
                            <h1><span class="counter">8542</span></h1>
                            <p>Medical Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--counter-area end-->


        <!-- intro-video-area -->
        <section >
            <div class="intro-video-area">
                <div class="container">
                    <div class="col-xl-10 col-lg-10 col-md-10 mx-auto">
                        <div class="intro-video-content pos-rel mb-30"
                             style="background-image: url(/static/assets/img/bg/intro-video.jpg);">
                            <div class="video-area pos-abl">
                                <a href="https://www.youtube.com/watch?v=ezr3UNOryFw" class="popup-video"><i
                                        class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- intro-video-area end -->



        <!--gallery-area start-->
        <section class="gallery-area grey-bg2 pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                             data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span> Photo Gallery</h6>
                            <h2>Our <span>Photo</span> Gallery</h2>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="row">
                            {% for j in gallery %}
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/media/{{j.gallery_image}}" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/media/{{j.gallery_image }}"><i
                                                class="far fa-plus"></i></a>
                                        <h3><a href="/gallery"></a></h3>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--gallery-area end-->


        <!--events-area start-->

        <!--events-area end-->


        <!--testimonial-area start-->
<!--        <section class="testimonial-area grey-bg2 pos-rel pt-130 pb-130">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-xl-4">-->
<!--                        <div class="testimonial-text-wrapper wow fadeInUp2 animated mb-30" data-wow-delay='.1s'>-->
<!--                            <div class="section-title text-left mb-35">-->
<!--                                <h6><span><i class="far fa-heart"></i></span> Clients Feedback</h6>-->
<!--                                <h2>What Our Clients Say About Us</h2>-->
<!--                            </div>-->
<!--                            <p>-->
<!--                                There are many variations of passages orem sum available but the majority have suffered-->
<!--                                alteration injected humour.-->
<!--                            </p>-->
<!--                            <a class="theme_btn theme_btn_bg" href="#">View More <span><i-->
<!--                                    class="fas fa-arrow-right"></i></span></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-8 testimonial-wrapper">-->
<!--                        <div class="row testimonial-active">-->
<!--                            <div class="col-xl-6">-->
<!--                                <div class="testimonial-item pos-rel wow fadeInUp2 animated"-->
<!--                                     data-wow-delay='.3s'>-->
<!--                                    <div class="author_box d-flex align-items-center mb-25">-->
<!--                                        <div class="author_box__img mr-15">-->
<!--                                            <img src="/static/assets/img/testimonial/1.jpg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="author_box__content">-->
<!--                                            <h4 class="semi-02-title">Dominga Joubert</h4>-->
<!--                                            <p>Clients</p>-->
<!--                                            <div class="review-icon">-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="semi-title mb-10">-->
<!--                                        There are many variations of passages the available in some form injected humour-->
<!--                                        of the randomised words which don't look even slightly believable.-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <div class="testimonial-item pos-rel wow fadeInUp2 animated"-->
<!--                                     data-wow-delay='.5s'>-->
<!--                                    <div class="author_box d-flex align-items-center mb-25">-->
<!--                                        <div class="author_box__img mr-15">-->
<!--                                            <img src="/static/assets/img/testimonial/2.jpg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="author_box__content">-->
<!--                                            <h4 class="semi-02-title">Lauren Linde</h4>-->
<!--                                            <p>Clients</p>-->
<!--                                            <div class="review-icon">-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="semi-title mb-10">-->
<!--                                        There are many variations of passages the available in some form injected humour-->
<!--                                        of the randomised words which don't look even slightly believable.-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <div class="testimonial-item pos-rel wow fadeInUp2 animated"-->
<!--                                     data-wow-delay='.3s'>-->
<!--                                    <div class="author_box d-flex align-items-center mb-25">-->
<!--                                        <div class="author_box__img mr-15">-->
<!--                                            <img src="/static/assets/img/testimonial/1.jpg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="author_box__content">-->
<!--                                            <h4 class="semi-02-title">Amanda Dent</h4>-->
<!--                                            <p>Clients</p>-->
<!--                                            <div class="review-icon">-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="semi-title mb-10">-->
<!--                                        There are many variations of passages the available in some form injected humour-->
<!--                                        of the randomised words which don't look even slightly believable.-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <div class="testimonial-item pos-rel wow fadeInUp2 animated"-->
<!--                                     data-wow-delay='.5s'>-->
<!--                                    <div class="author_box d-flex align-items-center mb-25">-->
<!--                                        <div class="author_box__img mr-15">-->
<!--                                            <img src="/static/assets/img/testimonial/2.jpg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="author_box__content">-->
<!--                                            <h4 class="semi-02-title">Benjamin Kwong</h4>-->
<!--                                            <p>Clients</p>-->
<!--                                            <div class="review-icon">-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                                <a href="#"><i class="fas fa-star"></i></a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <p class="semi-title mb-10">-->
<!--                                        There are many variations of passages the available in some form injected humour-->
<!--                                        of the randomised words which don't look even slightly believable.-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!--testimonial-area end-->


{#        <!--blog-area start-->#}
{#        <section class="blog-area  grey-bg2  pt-130 pb-100">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-7 mx-auto">#}
{#                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"#}
{#                             data-wow-delay='.1s'>#}
{#                            <h6><span><i class="far fa-heart"></i></span> Our Blog</h6>#}
{#                            <h2>Latest <span>News</span> & Blog</h2>#}
{#                            <p>It is a long established fact that a reader will be distracted by the readable content of#}
{#                                a page when looking at its layout. The point of using Lorem Ipsum is that it has a#}
{#                                more-or-less normal distribution of letters.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>#}
{#                        <div class="blog mb-30">#}
{#                            <div class="blog__thumb">#}
{#                                <img src="/static/assets/img/blog/1.jpg" alt="">#}
{#                            </div>#}
{#                            <div class="blog__content">#}
{#                                <a class="tag" href="blog-details.html">funding</a>#}
{#                                <h3 class="blog-title mb-15"><a href="blog-details.html">Standing Out From Crowds For#}
{#                                    Poor Children In The World</a></h3>#}
{#                                <p class="mb-25">There are many variations of passages available but the majority have#}
{#                                    suffered alteration.</p>#}
{#                                <ul class="blog-author">#}
{#                                    <li><a class="mr-30" href="#"><img src="/static/assets/img/blog/author.jpg" alt="">#}
{#                                        <span>Juan Geisl</span></a></li>#}
{#                                    <li>#}
{#                                        <i class="far fa-calendar-alt"></i> 25 August 2021#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.5s'>#}
{#                        <div class="blog mb-30">#}
{#                            <div class="blog__thumb">#}
{#                                <img src="/static/assets/img/blog/2.jpg" alt="">#}
{#                            </div>#}
{#                            <div class="blog__content">#}
{#                                <a class="tag" href="blog-details.html">charity</a>#}
{#                                <h3 class="blog-title mb-15"><a href="blog-details.html">Standing Out From Crowds For#}
{#                                    Poor Children In The World</a></h3>#}
{#                                <p class="mb-25">There are many variations of passages available but the majority have#}
{#                                    suffered alteration.</p>#}
{#                                <ul class="blog-author">#}
{#                                    <li><a class="mr-30" href="#"><img src="/static/assets/img/blog/author.jpg" alt="">#}
{#                                        <span>Tom Terrell</span></a></li>#}
{#                                    <li>#}
{#                                        <i class="far fa-calendar-alt"></i> 25 August 2021#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.7s'>#}
{#                        <div class="blog mb-30">#}
{#                            <div class="blog__thumb">#}
{#                                <img src="/static/assets/img/blog/3.jpg" alt="">#}
{#                            </div>#}
{#                            <div class="blog__content">#}
{#                                <a class="tag" href="blog-details.html">children</a>#}
{#                                <h3 class="blog-title mb-15"><a href="blog-details.html">Standing Out From Crowds For#}
{#                                    Poor Children In The World</a></h3>#}
{#                                <p class="mb-25">There are many variations of passages available but the majority have#}
{#                                    suffered alteration.</p>#}
{#                                <ul class="blog-author">#}
{#                                    <li><a class="mr-30" href="#"><img src="/static/assets/img/blog/author.jpg" alt="">#}
{#                                        <span>Jesse Dalla</span></a></li>#}
{#                                    <li>#}
{#                                        <i class="far fa-calendar-alt"></i> 25 August 2021#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <!--blog-area end-->#}


        <!--brand-area start-->

        <!--brand-area end-->

    </main>




    {% include 'includebase.html' %}
    <script>
        $('#hkmcarousel').carousel({
            interval: 4000
        });
    </script>
{% endblock content %}
</body>


<!--footer-area start-->


<!--footer-area end-->


