{% include 'base.html' %}


 {% block content %}


    <main style="background-color: #ffcb88">

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/static/assets/img/bg/page-title.jpg);">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-xl-5 mx-auto">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Media</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/index">Gallery <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="#" class="active">Media</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->


        <!--events-area start-->
        <section class="blog-area pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="section-title text-center mb-85 pl-50 pr-50 wow fadeInUp2 animated"
                             data-wow-delay='.1s'>
                            <h6><span><i class="far fa-heart"></i></span>Media</h6>


                        </div>
                    </div>
                </div>
                <div class="row">
                   {% for j in gallery %}
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/media/{{j.gallery_image}}" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/media/{{j.gallery_image }}"><i
                                                class="far fa-plus"></i></a>
                                        <h3><a href="/gallery"></a></h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                </div>
            </div>
        </section>

        <!--events-area end-->

    </main>



    {% include 'includebase.html' %}

{% endblock content %}