<div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="standard-right-area">

                            <div class="widget mb-30 wow fadeInUp2 animated" data-wow-delay='.1s' style="position: sticky">
                                <ul class="widget-cat">
                                    <h3 class="cases-title mb-30">Hari Krishna Hills</h3>
                                    <li><a href="#"> <i class="far fa-angle-double-right"></i> Temple History  </a></li>
                                    <li><a href="#"> <i class="far fa-angle-double-right"></i> Facilities </a></li>
                                    <li><a href="#"> <i class="far fa-angle-double-right"></i> Guest House </a></li>
                                </ul>
                            </div>

                        </div>
                    </div>